<template>
  <div class="stockitem-wrapper">
    <div class="left">
      <span class="symbol">{{ `\$${symbol}` }}</span>
      <span class="name">{{ name }}</span>
      <span class="exchange">{{ exchange }}</span>
    </div>
    <div class="right">
      <span class="trend" :class="trendClass">{{ trendValue }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
      default: 'Apple Inc.'
    },
    symbol: {
      type: String,
      required: true,
      default: 'AAPL'
    },
    trend: {
      type: Number,
      required: false,
      default: 0.0
    },
    exchange: {
      type: String,
      required: true,
      default: 'NASDAQ'
    }
  },
  computed: {
    trendValue() {
      if (this.trend.toFixed(2) > 0) return `+${this.trend.toFixed(2)}%`
      else if (this.trend.toFixed(2) < 0) return `${this.trend.toFixed(2)}%`
      else return ''
    },
    trendClass() {
      if (this.trend.toFixed(2) > 0) return 'positive'
      else if (this.trend.toFixed(2) < 0) return 'negative'
      else return 'neutral'
    }
  }
}
</script>

<style lang="scss" scoped>
.stockitem-wrapper {
  margin-top: 20px;
  align-self: center;
  background-color: white;
  width: 830px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;

  > .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .symbol {
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 600;
      font-size: 28px;
      color: $gray-8;
      line-height: 1;
    }

    > .name {
      margin-top: 3px;
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 600;
      font-size: 42px;
      color: $darkPrimary;
      line-height: 1;
    }

    > .exchange {
      align-self: flex-start;
      margin-top: 8px;
      font-family: 'Roboto Mono', monospace;
      font-weight: 700;
      color: $gray-5;
      font-size: 18px;
      border-bottom: 4px solid $accent;
    }
  }

  > .right {
    display: flex;
    justify-content: center;
    align-items: center;

    > .trend {
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 700;
      font-size: 36px;

      &.positive {
        color: $accent;
      }

      &.negative {
        color: $negative;
      }

      &.neutral {
        color: black;
      }
    }
  }
}
</style>
